---
/*
  Giscus comments
  Backed by GitHub Discussions:
  Repo: Jitesh17/jiteshgosar-comments
*/
---

<section class="mt-16">
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="Jitesh17/jiteshgosar-comments"
    data-repo-id="R_kgDOQxvuyw"
    data-category="Blog Comments"
    data-category-id="DIC_kwDOQxvuy84C0boX"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</section>
